@{
    ViewData["Title"] = "Home Page";
}

<script src="https://smtpjs.com/v3/smtp.js"></script>



<section class="main-banner-area main-banner-area-two" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h1>Balaji Technosys</h1>
                    <p>We are software development company, our technical expertise and business understanding allows us to provide AI and Cloud enabled top-notch solution for our clients with industry best practices. We have a solid foundation to deliver quality business applications.</p>
                    @*<div class="banner-btn">
                            <a class="default-btn" href="#">
                                Learn More
                            </a>
                            <a class="default-btn" href="#">
                                Contact Us
                            </a>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-main-img banner-one-main-img">
                    <img src="~/img/home-two-banner/banner-two-main-img.png" alt="Image">
                </div>
                <div class="banner-img">
                    <img class="wow fadeInDown" data-wow-delay=".1s" src="~/img/home-two-banner/banner-two-shape/1.png" alt="Image">
                    <div class="wow fadeInDown" data-wow-delay=".3s">
                        <div class="square-img">
                            <img class="wow fadeInDown" data-wow-delay=".3s" src="~/img/home-two-banner/banner-two-shape/2.png" alt="Image">
                        </div>
                    </div>
                    <img class="wow fadeInDown" data-wow-delay=".6s" src="~/img/home-two-banner/banner-two-shape/3.png" alt="Image">
                    <div class="wow zoomIn" data-wow-delay=".9s">
                        <div class="circle-img">
                            <!--<img src="assets/img/home-two-banner/banner-two-shape/4.png" alt="Image">-->
                        </div>
                    </div>
                    <img src="~/img/home-two-banner/banner-two-shape/5.png" alt="Image">
                    <img class="wow fadeInDown" data-wow-delay=".6s" src="~/img/home-two-banner/banner-two-shape/6.png" alt="Image">
                    <img class="wow fadeInDown" data-wow-delay=".6s" src="~/img/home-two-banner/banner-two-shape/7.png" alt="Image">
                    <img class="wow fadeInRight" data-wow-delay=".9s" src="~/img/home-two-banner/banner-two-shape/8.png" alt="Image">
                    <img class="wow fadeInRight" data-wow-delay=".9s" src="~/img/home-two-banner/banner-two-shape/9.png" alt="Image">
                    <img class="wow fadeInRight" data-wow-delay="1s" src="~/img/home-two-banner/banner-two-shape/10.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <div class="over-shape">
        <img src="~/img/home-one-banner/banner-one-shape/1.png" alt="Image">
        <img src="~/img/home-one-banner/banner-one-shape/2.png" alt="Image">
        <img src="~/img/home-one-banner/banner-one-shape/3.png" alt="Image">
    </div>
</section>
<section class="features-area mt-minus-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 p-0">
                <div class="single-features">
                    <i class="flaticon-cloud-computing-1"></i>
                    <h3>Artificial Intelligence</h3>
                    <p>
                        Our AI technologies support diverse environments and scale to meet changing business needs. Use our expertise in AI to explore creative ways to advance your business

                    </p>
                    @*<a class="read-more-icon" href="#">*@
                    @*<a class="read-more-icon">

                        <span class="flaticon-right-arrow"></span>
                    </a>*@
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 p-0">
                <div class="single-features">
                    <i class="flaticon-cloud-computing-1"></i>
                    <h3>AgileDev</h3>
                    <p>Our agile software development service - enables successful digital innovation by giving our clients the flexibility that they need to quickly adjust to changes in features, requirements, and timeline.</p>
                    @*<a class="read-more-icon" href="#">
                        <span class="flaticon-right-arrow"></span>
                    </a>*@
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 p-0">
                <div class="single-features">
                    <i class="flaticon-cloud-computing-1"></i>
                    <h3>Cloud Computing</h3>
                    <p> Optimize the cost, agility and scalability of your IT ecosystem, by taking your current infrastructure and integrating it with the cloud. We offer the most appropriate Cloud-based solution for your needs </p>
                    @*<a class="read-more-icon" href="#">
                        <span class="flaticon-right-arrow"></span>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area pt-100 pb-100" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about-us.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <span>About Us</span>
                    @*<h2>Delivering Business Value with Technical Expertise</h2>*@
                    <p>We are a highly committed team with a vision to make one of the most respected software company in the world. We strive to help our clients to achieve their business goals by providing them world-class software solutions. Our team is </p>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    Azure Cloud Certified
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    AWS Cloud Certified
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    Microsoft Certified: Azure AI Engineer
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    ITIL Certified
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    Certified ScrumMaster
                                </li>
                                <li>
                                    <i class="flaticon-checked"></i>
                                    eMDP : AI & ML from IIM
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<a class="default-btn" href="#">
                        Learn More
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="offer-area offer-area-two pt-100 pb-70" id="service">
    <div class="container">
        <div class="section-title">
            <span>Services</span>
            <h2>Our Services For You</h2>
            @*<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure architecto quaerat eaque sapiente accusantium ad ut explicabo consequuntur fuga quidem? Sint.</p>*@
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>Application Development</h3>
                    <p>We will deliver your bespoke software project with quality however complex it is. Applications that work for you.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>Mobile App Development</h3>
                    <p>Create unique mobile applications that integrate seamlessly and deliver the exceptional user experience.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>WebSite Development</h3>
                    <p>Quality Websites that not only look good but are feature rich. Custom Portal creation that can deploy as web applications.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>Cloud Implementation</h3>
                    <p>We help to build your capabilities on the most comprehensive cloud platform and no compromises on security.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>Artificial Intelligence Development</h3>
                    <p> Our AI technologies support diverse environments and scale to meet changing business needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-offer">
                    <i class="flaticon-blockchain"></i>
                    <h3>Data <br />Engineering</h3>
                    <p>Our Data Engineering services include data storage, organization and optimization, analytics, and machine learning.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="offer-shape">
        <img src="~/img/offer-shape/1.png" alt="Image">
        <img src="~/img/offer-shape/2.png" alt="Image">
        <img src="~/img/offer-shape/3.png" alt="Image">
        <img src="~/img/offer-shape/4.png" alt="Image">
        <img src="~/img/offer-shape/5.png" alt="Image">
        <img src="~/img/offer-shape/5.png" alt="Image">
        <img src="~/img/offer-shape/6.png" alt="Image">
    </div>
</section>
<section class="case-area pt-100 pb-100" id="project">
    <div class="container">
        <div class="section-title">
            <span>Project</span>
            <h2>Our Recent Project</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="single-news">
                    <div class="blog-img">
                        <a data-toggle="modal" data-target="#myModal">
                            <img src="~/img/spwlogin.png" alt="Image">
                        </a>
                    </div>
                    <div class="news-content-wrap">
                        <a data-toggle="modal" data-target="#myModal">
                            <h3>Speed World Telecom - Recharge Portal</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="single-news">
                    <div class="blog-img">
                        <a data-toggle="modal" data-target="#myModal1">
                            <img src="~/img/web.png" alt="Image">
                        </a>
                    </div>
                    <div class="news-content-wrap">
                        <a data-toggle="modal" data-target="#myModal1">
                            <h3>Personal Porfolio - Website </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="case-top-wrap owl-carousel owl-theme">
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/about-us.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                Project 1
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/about-us.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                Project 1
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/about-us.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                Project 1
                            </a>
                        </h3>
                    </div>
                    <div class="case-wrap">
                        <div class="single-case">
                            <img src="~/img/about-us.png" alt="Image">
                            <a class="link-icon" href="#"><i class="bx bx-plus"></i></a>
                        </div>
                        <h3>
                            <a href="#">
                                Project 1
                            </a>
                        </h3>
                    </div>
                </div>
            </div>*@
    </div>
</section>
<section class="main-contact-area ptb-100" id="contact">
    <div class="container">
        <div class="section-title">
            <span>Contact Us</span>
            <h2>Drop us a message for any query</h2>
            <p> Feel free to write us. Our concern team will get back to you soon.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-wrap contact-pages mb-0">
                    <div class="contact-form">
                        <form name="contactForm" onsubmit="return validateForm()" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="fname" id="fname" class="form-control" placeholder="Your Name">
                                        <small class="text-danger" id="nameErr"></small>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
                                        <small class="text-danger" id="emailErr"></small>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="mobile" id="mobile" maxlength="10" class="form-control" placeholder="Your Phone">
                                        <small class="text-danger" id="mobileErr"></small>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="subject" id="subject" class="form-control" placeholder="Your Subject">
                                        <small class="text-danger" id="subErr"></small>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control textarea-hight" cols="30" rows="5" placeholder="Your Message"></textarea>
                                        <small class="text-danger" id="msgErr"></small>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn btn-two">Submit</button>

                                    @*<div id="msgSubmit" class="h3 text-center hidden"></div>*@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-img">
                    <img src="~/img/contact.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Speed World Telecom - Recharge Portal</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/img/spwmenu.png" />
                    </div>
                    <div class="col-md-8">Balaji Technosys developed an online - cloud based recharge portal for Speed World India - a telecom company to manage different sales channels. On the portal, they can manage different roles like Distributor, Sales executive, Retailer etc. Balaji Technosys has integrated multiple API which can be mapped with different telecom operators using the Admin panel. By login to portal retailers will be able to recharge phone balance quickly and easily. Using portal Speed World India is able to manage end to end business. </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Devahir.in - Responsive Website</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/img/web.png" />
                    </div>
                    <div class="col-md-8"> Balaji Technosys is designing a fully responsive website <a href="http://www.devahir.in/" target="_blank">www.devahir.in</a> It's a personal portfolio crafted with the latest website design trend. </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>